@charset "utf-8";
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #13F7C0 ;
}
.container-fluid {
    background-color: #13F7C0;
}

.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
}

.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {


}





.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
}

.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .row {
    background-color: #8A0373;
}
.container-fluid .row {
    background-color: #D30F13;
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #BEB6B6;
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ADAFB5;
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #C4BEBE;
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #C0B8B8;
}
.container-fluid .row {
    background-color: #13F7C0;
}
body {
}
